*{
    font-family: 'Amaranth', sans-serif;
}
body{
background-color: azure;
}
}

.navbar {
    background-color: transparent;
}

.nav{
    text-align: center;
    width: 40%;
}

.nav>p {
    padding-left: 10%;
}

.w-100 {
    position: relative;
    height: 80vh;

}

.w-100 > img {
    height: 100%;
    width: 100%;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    text-align: center;
}

.text {
    position: absolute;
    font-size: 20px;
    color: white;
    bottom: 100%;
    left: 50%;
    font-weight: bolder;
    opacity: 1;
    transform: translate(-50%, -50%);
}


