* {
  font-family: "Amaranth", sans-serif;
}
body {
  background-color: azure;
}
.card-img-overlay {
  background-color: rgba(0, 0, 0, 0.2);
  height: 3rem;
}
#folder-icon {
  width: 16px;
  height: 16px;
  float: left;
  margin-left: -10px;
}
#category {
  float: left;
  margin-top: -3px;
  margin-left: 10px;
  margin-bottom: 10px;
}
hr {
  border: 0.3px dashed #cccccc;
  width: 100%;
  left: 0;
}
.myicons {
  float: left;
}
.location {
  float: left;
  margin-left: 10px;
}
.phone {
  float: left;
  margin-top: -2px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.input {
  width: 65%;
  padding: 8px;
  margin-left: 50px;
}

textarea {
  width: 65%;
  padding: 20px;
  margin-left: 50px;
}

.map {
  height: 500px;
  width: 80%;
  margin-top: 15px;
}
body {
  background-color: azure;
}

.heading {
  margin-left: 50px;
}

.navbar {
  background-color: transparent;
}

.nav {
  text-align: center;
  width: 50%;
}

.nav > p {
  padding-left: 20px;
}

p > a,
p > a:hover {
  color: black;
  text-decoration: none;
}

.w-100 {
  position: relative;
  height: 80vh;
}

.w-100 > img {
  height: 100%;
  width: 100%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  text-align: center;
}

.text {
  position: absolute;
  font-size: 20px;
  color: white;
  bottom: 100%;
  left: 50%;
  font-weight: bolder;
  opacity: 1;
  transform: translate(-50%, -50%);
}

#listings {
  overflow: hidden;
}

.alert-success {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  z-index: 1;
  display: none;
}
